.main {
    display: flex;
}

.wheel_container {
    min-width: 65%;
}

.main_background {
    object-fit: cover;
    background: url("src/assets/img/main-Gray.jpg");
    transform: scale(-1, 1);
    background-size: cover;
    position: absolute;
    left: 0;
    height: 800px;
    width: 60%;
    border-radius: 400px 0 0 400px;
    z-index: -1;
}

.unactive_background {
    opacity: 0;
    position: absolute;
}

.lang_text_conteiner {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
}


@media (max-width: 1600px) {
    .wheel_container {
    min-width: 62%;
}
    .lang_text_conteiner {
        height: 800px;
}
}


@media (max-width: 1080px) {
     .lang_text_conteiner {
        height: 100%;
        display: block;
}

    .main {
        flex-direction: column;
    }

    .wheel_container {
        height: 600px;
    }


    .main_background {
        object-fit: cover;
        height: 600px;
        width: 100%;
        border-radius: 0 0 400px 400px;
    }
}

@media (max-width: 400px) {

    .wheel_container {
        height: 500px;
    }


    .main_background {
        object-fit: cover;
        height: 500px;
        width: 100%;
        border-radius: 0 0 400px 400px;
    }
}