.main_text_container {
    margin: 35px 0;
}

.main_text_container h1 {
    font-size: 2.25rem;
    font-weight: normal;
    color: #2E51A4;
    text-transform: lowercase;
}

.main_text_container h1 span{
    text-transform: uppercase;
    font-weight: 800;
}

.main_text_container h2 {
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ED1C24;
}

.main_text_container h2 span{
    font-weight: bold;
}


.main_text_container p span{
    font-weight: bold;
    text-transform: uppercase;
}

.red_text {
    color: #ED1C24;
    text-transform: initial !important;
}

.su {
    position: absolute;
    width: 236px;
    height: 155px;
    transform: translateX(223px) translateY(-142px);
}

.main_sub_headings {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    margin-left: 90px;
}


.main_sub_headings p {
    font-size: 0.85rem;
    margin-top: 14px;
    max-width: 420px;
}


.search {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 15px 12px 15px 28px;
    border: 1px #A7A9AC solid;
    border-radius: 30px;
    background-color: white;
}

.search img{
    width: 30px;
    height: 30px;
}

.search input {
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
}

.advantages_list {
    margin-top: 50px;
    display: flex;
    gap: 16px;
}

.lang_text {
    margin-left: 20px;
    width: 100%;
    height: 700px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.lang_text h1{
    font-size: 4rem;
    text-transform: uppercase;
    color: #ED1C24;
}

.lang_text p{
    font-size: 0.9rem;
}

.circle_text_wrap {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.circle_text {
    min-width: 230px;
    min-height: 230px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E51A4;
    color: white;
}

.lang_text_main p {
    margin-top: 20px;
}

@media (max-width: 1400px) {

    .main_text_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .main_sub_headings {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    margin-left: 40px;
}
    .su {
        position: absolute;
        width: 166px;
        height: 85px;
        transform: translateX(200px) translateY(-87px);
    }

    .main_text_container h2 {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ED1C24;
}
}

@media (max-width: 1080px) {

    .lang_text {
        
    margin-bottom: 50px;
    height: 100%;
    justify-content: start;
    gap: 30px;
}
    
    .main_text_container {
        text-align: center;
    }

    .main_sub_headings {
        margin-top: 30px;
        gap: 30px;
        margin-left: 0;
        align-items: center;
    }

    .su_container {
        margin-left: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .su {
        position: absolute;
        width: 100px;
        height: 55px;
        position: relative;
        transform: translateX(10px) translateY(-8px);
    }

    .advantages_list {
        margin-top: 30px;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 700px) {
    .lang_text h1{
        text-align: center;
        font-size: 2.5rem;
        text-transform: uppercase;
        color: #ED1C24;
    }

    .lang_text_main p {
    margin-top: 20px;
}    
    .circle_text {
        min-width: 180px;
        min-height: 180px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2E51A4;
        color: white;
    }

      .su_container {
        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

@media (max-width: 400px) {
    .circle_text {
        padding: 10px;
        min-width: 120px;
        max-width: 120px;
        min-height: 120px;
    }
}