.advantages_item {
    width: 172px;
    height: 172px;
    background-color: #2E51A4;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    cursor: pointer;
}

.advantages_item h3 {
    font-size: 0.808rem;
}

.advantages_item p {
    font-size: 0.5rem;
    max-width: 140px;
}


@media (max-width: 1400px) {
    .advantages_item {
    width: 132px;
    height: 132px;
    background-color: #2E51A4;
    }

    .advantages_item p {
        font-size: 0.5rem;
        max-width: 120px;
    }
}

